<div class="col-xs-6" id="visualization-window" viz-grommet>
      
</div>
<div class="col-xs-6">
        <h1>Grommet A#178</h1>
        <hr>
<p class="static-description">
  Lorem ipsum dolor sit amet, consectetur adipisicing elit. Labore laborum non saepe molestiae unde dolorem nemo temporibus, doloribus earum quis, voluptates consequatur aliquid quam consectetur, dignissimos odio suscipit amet explicabo.
</p>
<hr>
  <dl>
    <dt>Inner Diameter</dt>
    <dd>10mm</dd>
    <dt>Outer Diameter</dt>
    <dd>25mm</dd>
    <dt>Thickness</dt>
    <dd>2mm</dd>
  </dl>
  <button type="submit" class="btn-primary btn-block" data-ng-click="submitStaticDXF()"><span ng-bind-html="submitButtonContent"></span></button>
</div>