<!-- grommet = {innerDimension:"", outerDimension:"", thickness:"", material:"", timeNeeded:""} -->
<svg class="vis-svg" viewbox="0 0 100 100" xmlns="http://www.w3.org/2000/svg" preserveAspectRatio="xMidYMid meet">
	<defs>
	  <mask id="innerSpaceA">
	    <rect 
	    	width="200" 
	    	height="200" 
	    	y="-50"
	    	fill="white" 
	    	style="transform:rotateX(0deg);"
	    	/>
	    <circle 
	    	class="innerDimension" 
	    	cx="50%" 
	    	ng-attr-cy="{{50+(grommet.thickness/2)}}%" 
	    	fill="#000000" 
	    	ng-attr-r="{{grommet.innerDimension}}" 
	    	/>
	  </mask>

	  <mask id="innerSpaceB">
	    <rect 
	    	width="2000" 
	    	height="200" 
	    	y="-50"
	    	fill="white" 
	    	style="transform:rotateX(0deg);" 
	    	/>
	    <circle 
	    	class="innerDimension" 
	    	cx="50%" 
	    	ng-attr-cy="{{50-(grommet.thickness/2)}}%" 
	    	fill="#000000" 
	    	ng-attr-r="{{grommet.innerDimension}}" 
	    	/>
	  </mask>
	</defs>
	<circle 
		class="outerDimension" 
		cx="50%" 
		ng-attr-cy="{{50+(grommet.thickness/2)}}%" 
		ng-attr-fill="{{grommet.material.colors[1]}}" 
		ng-attr-stroke="{{strokeColor()[0]}}"
		stroke-width="0.5"
		ng-attr-r="{{grommet.outerDimension}}" 
		mask="url(#innerSpaceA)" 
		/>
	<circle 
		class="outerDimension" 
		cx="50%" 
		ng-attr-cy="{{50-(grommet.thickness/2)}}%" 
		ng-attr-fill="{{grommet.material.colors[0]}}" 
		ng-attr-stroke="{{strokeColor()[1]}}"
		stroke-width="0.5"
		ng-attr-r="{{grommet.outerDimension}}" 
		mask="url(#innerSpaceB)" 
		/>
	<circle 
		class="outerDimension" 
		cx="50%" 
		ng-attr-cy="{{50+(grommet.thickness/2)}}%" 
		fill="rgba(0,0,0,0)" 
		ng-attr-stroke="{{grommet.material.colors[1]}}"
		stroke-width="0.5"
		stroke-dasharray="0.5,1"
		ng-attr-r="{{grommet.outerDimension-0.25}}" 
		mask="url(#innerSpaceA)" 
		/>
	<circle 
		class="outerDimension" 
		cx="50%" 
		ng-attr-cy="{{50+(grommet.thickness/2)}}%" 
		fill="rgba(0,0,0,0)" 
		ng-attr-stroke="{{grommet.material.colors[1]}}"
		stroke-width="0.5"
		stroke-dasharray="0.5,1"
		ng-attr-r="{{grommet.innerDimension+0.25}}" 
		/>
	<rect 
		class="thickness" 
		ng-attr-x="{{(50-grommet.outerDimension)}}"fill="rgba(0,0,0,0.05)"
		ng-attr-height="{{grommet.thickness-0.25}}" 
		ng-attr-width="{{(grommet.outerDimension-grommet.innerDimension)}}" 
		ng-attr-y="{{50-(grommet.thickness/2)}}" 
		/>
</svg>
