.outerDimension{
	transition: all 0.1s linear;
	transform-origin: 50% 50%;
	transform:rotateX(60deg) perspective(600px);
}
.innerDimension{
	transition: all 0.1s linear;
	perspective: 600px;
	transform-origin: 50% 50%;
}
.thickness{
	transition: all 0.1s linear;
}
